<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
 	
    <http auto-config="true">
    	<intercept-url pattern="/bootstrap/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    	<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    	<intercept-url pattern="/logout*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    	<intercept-url pattern="/loginfailed*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    	<intercept-url pattern="/inicial" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    	<intercept-url pattern="/membro/novo" access="ROLE_ADMIN"/>
		<form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfailed" />
		<logout logout-url="/logout"/>
	</http>
 
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="usuario" password="usuario" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
 
</beans:beans>